
#aboutIcon {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 20px;
    stroke: whitesmoke;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    /*fill: #FaFaFa; */
}

#portfolioIcon{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 20px;
    stroke: darkcyan;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
}

#contactIcon{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 20px;
    stroke: whitesmoke;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
}

#aboutDiv{
    width:100%;
    height: 1000px;
    background-color: darkcyan;
}

#portfolioDiv{
    width:100%;
    height: 1000px;
    background-color: whitesmoke;
}

#contactDiv{
    width:100%;
    height: 1000px;
    background-color: darkcyan;
}